.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
